.workList {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
}

.workList li {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 12px;
  width: 200px;
  height: 200px;
  border-radius: 4px;
  font-size: 30px;
  line-height: 1.2;
  overflow: hidden;
  cursor: pointer;
  transform: scale(1);
  transition: all .3s ease;
}

.workList li:hover {
  transform: scale(1.1);
}

.workTitle {
  background: rgba(0,0,0,.5);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  padding: 24px;
  text-shadow: 2px 2px rgba(0,0,0,0);
  opacity: 0;
  transition: opacity .3s ease;
}

.workList li:hover .workTitle {
  opacity: 1;
}

.cc { background-image: url('/images/work/c&c.jpg'); }
.la-redbull {
  background-image: url('/images/work/metro.png');
  background-color: #212328;
}
.spike-lee { background-image: url('/images/work/spikelee.png'); }
.fyp { background-image: url('/images/work/fyp.png'); }
.olo { background-image: url('/images/work/olo.png'); }
.coffeebean { background-image: url('/images/work/coffeebean.png'); }
.boston { background-image: url('/images/work/boston.png'); }
.chandon { background-image: url('/images/work/chandon.png'); }
.kc { background-image: url('/images/work/kc.png'); }
.liquidplumr { background-image: url('/images/work/liquidplumr.png'); }
.amway { background-image: url('/images/work/amway.png'); }
.dita { background-image: url('/images/work/dita.png'); }
.amat { background-image: url('/images/work/amat.png'); }
.minka { 
  background-image: url('/images/work/minka.png');
  background-color: #fff;
}
.sd {
  background-image: url('/images/work/sd.png');
  background-color: #fff;
}